.header {
  width: 100%;
  padding: 28px 0 10px;
  background: url('../images/bg-header.gif') repeat-x;
  box-shadow: 0 0 10px 1px #e3e3e3;
}

.logo {
  width: 225px;
  height: 56px;
  margin: 0 auto;
  background: url('../images/logo.png') no-repeat;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
}

.logo a {
  display: block;
  width: 100%;
  height: 100%;
}

.wrapper {
  width: 970px;
  margin: 30px auto 40px;
}

.main {
  display: block;
  float: left;
  width: 660px;
}

.sidemenu {
  float: right;
  width: 275px;
}

.footer {
  width: 100%;
}

.clearfix::after {
  content: '';
  display: block;
  clear: both;
}
